body {
	background: #181818;
	color: #ffcbfa;
	padding: 0;
	margin: 0;
	width: 90%;
	margin: auto; left: 0; right: 0;
}
#wrap {
	min-height: 100vh;
	background: #404040;
}
#page {
	text-align: center;
	padding: 12px;
	min-height: 100%;
}
#header {
	background-color: #303030;
	min-height: 60px;
	border-bottom: 4px solid #ff7fc0;
	padding: 4px;
	align-content: center;
	text-align: center;
}
.hdrlnk {
	color: #ff7fc0;
	margin: 12px;
	text-decoration: none;
}
